.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #5abae3, #459ed1); /* Gradient background */
  color: white;
  font-family: Arial, sans-serif;
  cursor: pointer; /* Indicates the screen is clickable */
  text-align: center;
}

.welcome-logo {
  width: 800px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 20px; /* Space between logo and text */
  opacity: 0;
  animation: fadeIn 5s forwards;
}

.welcome-text {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
  animation: fadeIn 2s ease-in-out;
}

.welcome-subtext {
  font-size: 1.5rem;
  animation: fadeIn 2.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}